DATABASE_URL="postgresql://user:password@localhost:5432/zero_db"
JWT_SECRET="troque_por_secret_seguro_256bits"
JWT_REFRESH_SECRET="troque_por_outro_secret_256bits"
GOOGLE_CLIENT_ID="seu_google_client_id"
GOOGLE_CLIENT_SECRET="seu_google_client_secret"
GOOGLE_CALLBACK_URL="http://localhost:3001/api/auth/google/callback"
PORT=3001
FRONTEND_URL="http://localhost:5173"
NODE_ENV="development"
